body {
    color: black;
    background: linear-gradient(135deg, #d7d7d7, #f0f0f0, #cccccc, #e0e0e0);
    background-size: 1000% 1000%;
    margin: 0;
    font-family: monospace;
}

form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: #ffffffaa;
  font-family: monospace;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

.form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.content {
    margin: 0 auto;
    width: 800px;
}

#loading {
    display: none;
    text-align: center;
    margin: 20px;
}

.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #444;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}