{% extends 'base.html' %}

{% block head %}
    <title>Note Edit Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Edit your note</h1>
    <div class="form">
        <form action="/edit/{{task.id}}" method="POST">
            <input type="text" id="note" name="note" value="{{task.content}}">
            <input type="text" id="category" name="category" value="{{task.category}}">
            <input type="text" id="summary" name="summary" value="{{task.summary}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}